[submodule "vendor/gameboy-doctor"]
	path = tests/gameboy-doctor
	url = git@github.com:robert/gameboy-doctor.git
[submodule "vendor/gb-test-roms"]
	path = tests/gb-test-roms
	url = git@github.com:retrio/gb-test-roms.git
